@define-color primary #cccccc;
@define-color primary-container #333333;
@define-color on-primary #222222;
@define-color on-primary-container #f5f5f5;
@define-color secondary #b3b3b3;
@define-color secondary-container #444444;
@define-color on-secondary #222222;
@define-color on-secondary-container #e6e6e6;
@define-color tertiary #e0e0e0;
@define-color tertiary-container #555555;
@define-color on-tertiary #222222;
@define-color on-tertiary-container #fafafa;
@define-color error #bbbbbb;
@define-color error-container #222222;
@define-color on-error #111111;
@define-color on-error-container #ededed;
@define-color outline #888888;
@define-color background rgba(24, 24, 24, 0.7);
@define-color on-background #ededed;
@define-color surface #181818;
@define-color on-surface #ededed;
@define-color surface-variant #444444;
@define-color on-surface-variant #cccccc;
@define-color inverse-surface #ededed;
@define-color inverse-on-surface #222222;
@define-color inverse-primary #666666;
@define-color shadow #000000;
@define-color surface-tint #cccccc;
@define-color outline-variant #444444;
@define-color scrim #000000;
@define-color green #bfbfbf;
@define-color red #7f7f7f;
